/*! CSS Used from: https://www.eatthismuch.com/static_files/css_libs1.0.2636.css */
html,
body,
div,
span,
iframe,
h2,
h3,
h6,
p,
a,
img,
small,
strong,
i,
ul,
li,
form,
label,
canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h2,
h3,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"] {
  -webkit-appearance: button;
}
h2,
h3,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h6 {
  font-size: 1rem;
}
small {
  font-size: 80%;
  font-weight: 400;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col-3,
.col-4,
.col-6,
.col-8,
.col-12,
.col,
.col-auto,
.col-sm-3,
.col-sm-6,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-8,
.col-md-10,
.col-md-12,
.col-md {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 576px) {
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}
.form-group {
  margin-bottom: 1rem;
}
.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 576px) {
  .form-inline label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn:disabled {
  opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn:not(:disabled):not(.disabled):active {
  background-image: none;
}
.btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.btn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
.collapse {
  display: none;
}
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group > .form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-group > .form-control:focus {
  z-index: 3;
}
.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-prepend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input-group-prepend .btn {
  position: relative;
  z-index: 2;
}
.input-group-prepend {
  margin-right: -1px;
}
.input-group > .input-group-prepend > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}
.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}
.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
@media (max-width: 767.98px) {
  .navbar-expand-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md > .container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}
.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}
.tooltip .arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}
.tooltip .arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}
.bs-tooltip-top {
  padding: 0.4rem 0;
}
.bs-tooltip-top .arrow {
  bottom: 0;
}
.bs-tooltip-top .arrow::before {
  top: 0;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: #000;
}
.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.carousel-item.active {
  display: block;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}
.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.carousel-control-prev {
  left: 0;
}
.carousel-control-next {
  right: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.d-none {
  display: none !important;
}
@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
@media (min-width: 768px) {
  .justify-content-md-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
}
.pr-0 {
  padding-right: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pb-2 {
  padding-bottom: 0.5rem !important;
}
.mr-auto {
  margin-right: auto !important;
}
@media (min-width: 576px) {
  .mr-sm-2 {
    margin-right: 0.5rem !important;
  }
}
@media (min-width: 768px) {
  .pt-md-0 {
    padding-top: 0 !important;
  }
}
.text-center {
  text-align: center !important;
}
@media (min-width: 768px) {
  .text-md-right {
    text-align: right !important;
  }
}
.text-muted {
  color: #6c757d !important;
}
@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  body {
    min-width: 992px !important;
  }
  .container {
    min-width: 992px !important;
  }
  .navbar {
    display: none;
  }
}
body {
  overflow-y: scroll;
}
img[data-action="zoom"] {
  cursor: zoom-in;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-2x {
  font-size: 2em;
}
.fa-print:before {
  content: "\f02f";
}
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-link:before {
  content: "\f0c1";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-apple:before {
  content: "\f179";
}
.fa-android:before {
  content: "\f17b";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-question-circle-o:before {
  content: "\f29c";
}
/*! CSS Used from: https://www.eatthismuch.com/static_files/etm1.0.2636.css */
body {
  background-color: #f9f9f9;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.09s linear;
  -moz-transition: opacity 0.09s linear;
  -ms-transition: opacity 0.09s linear;
  -o-transition: opacity 0.09s linear;
  transition: opacity 0.09s linear;
}
.logo_image_carrot {
  margin-top: -5px;
  width: 65px;
}
.logo_svg_carrot {
  width: 70px;
  height: 59px;
}
.navbar .navbar-brand {
  color: #f0681d;
  font-size: 24px;
  min-height: 60px;
  padding: 5px 0 0 0;
}
@media (min-width: 768px) {
  .logo_image_carrot {
    width: 80px;
  }
  .logo_svg_carrot {
    width: 90px;
    height: 76px;
  }
  .navbar .navbar-brand {
    padding: 15px 15px;
    min-height: 90px;
  }
}
.btn:focus {
  outline: none;
}
.btn:active {
  outline: none;
}
.big_top_spacer {
  padding-top: 40px;
}
.top_spacer {
  padding-top: 20px;
}
.small_bottom_spacer {
  padding-bottom: 10px;
}
.small_top_spacer {
  padding-top: 10px;
}
.big_top_margin {
  margin-top: 40px;
}
.top_margin {
  margin-top: 20px;
}
.top_margin_small {
  margin-top: 10px;
}
.print-body {
  display: none;
}
.food_description {
  text-overflow: ellipsis;
  font-size: 12px;
  color: #9c9c9c;
  line-height: 12px;
  font-weight: normal;
  padding-top: 5px;
}
.micro_details_header {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 12px;
}
.perc_daily_val {
  float: right;
}
.footer_container {
  margin-top: 40px;
  margin-top: 30px;
  font-size: 13px;
  border-top: 2px solid #e3e3e3;
}
.footer {
  padding-top: 20px;
  padding-bottom: 30px;
}
.navbar .btn.register-button {
  margin: 7px 5px 10px;
}
.loading_food {
  padding-top: 20px;
  padding-left: 10px;
}
.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  vertical-align: -5px;
}
.social-fb:hover {
  color: #3b5998;
}
.social-tw:hover {
  color: #4099ff;
}
.social-gp:hover {
  color: #d34836;
}
.social-em:hover {
  color: #f39c12;
}
.recipe_permalink_container {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 700px;
    max-width: 700px;
    margin: 30px auto;
  }
  .modal-lg {
    width: 740px;
    max-width: 740px;
  }
}
@media (min-width: 800px) {
  .modal-lg {
    width: 780px;
    max-width: 780px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 800px;
    max-width: 800px;
  }
}
@media (min-width: 1250px) {
  .modal-lg {
    width: 1000px;
    max-width: 1000px;
  }
}
:root {
  --text-black: #000000;
  --charcoal-gray: #2d303c;
  --battleship-gray: #76767a;
  --pale-red: #d64848;
  --cool-gray: #98999e;
  --light-gray: #ede9e6;
  --off-white: #f9f8f7;
  --white: #fafafa;
  --dodger-blue: #3d84ff;
  --dusty-orange: #f0754f;
}
body {
  font-family: Avenir, "Lato", "Segoe UI", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.text-small {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}
.text-small {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.3px;
}
h2 {
  font-size: 28px;
  font-weight: 200;
}
@media (min-width: 768px) {
  .text-medium-md {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.5px;
  }
}
.form-group {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.modal {
  -webkit-overflow-scrolling: touch;
}
.modal-header {
  align-items: flex-start;
}
button.close {
  position: absolute;
  right: 30px;
  top: 20px;
}
.modal-body {
  padding: 15px 30px;
}
.modal-header {
  padding: 15px 30px;
  border: none;
}
.no-wrap {
  flex-wrap: nowrap;
}
.mock-link {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  cursor: pointer;
}
.mock-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
.icon-active {
  opacity: 0;
}
.inactive:hover {
  opacity: 0.5;
}
.content_container {
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}
.layout_shift_spacer {
  min-height: 1000px;
}
.etm-icon-sm {
  width: 24px;
  height: 24px;
}
.etm-icon-md {
  width: 48px;
  height: 48px;
}
.etm-icon {
  line-height: 1.5;
  vertical-align: middle;
}
.section_padding {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .section_padding {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.13);
  color: #2d303c;
}
.btn-outline-secondary,
.btn-orange {
  border-radius: 5px !important;
}
.btn-orange {
  border: 1px solid transparent;
  border-radius: 0.6rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.btn-orange {
  color: #fff;
  background-color: #f0754f;
  border-color: #e36f4b;
}
.btn-orange:hover {
  color: #fff;
  background-color: #e34b1b;
  border-color: #cf6544;
}
.btn-orange:focus {
  box-shadow: 0 0 0 3px rgba(235, 118, 79, 0.5);
}
.btn-orange:disabled {
  background-color: #b83340;
  border-color: #bb2d3b;
}
.btn-orange:active {
  background-color: #e34b1b;
  background-image: none;
  border-color: #d54519;
}
.cumulative_graph_header {
  text-transform: uppercase;
  font-size: 12px;
}
.input-group > .input-group-prepend > .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
@media (max-width: 767px) {
  .modal-title {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.food_thumbs,
.ingredient_thumbs {
  flex: 0 0 auto;
}
.food_box {
  padding: 5px;
}
.direction_border_col {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.food_object_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
.food_image_column {
  min-width: 50px;
  flex: 0 0 50px;
  position: relative;
}
.food_name_column {
  min-height: 1px;
  flex: 1 0 30%;
  position: relative;
  padding-left: 10px;
}
.food_amount_column {
  min-height: 1px;
  flex: 0 0 60%;
  max-width: 60%;
  padding-left: 10px;
  position: relative;
}
.ingredient_box .food_name_column {
  flex: 0 0 40%;
  max-width: 40%;
}
.food_details_column {
  flex: 1 0 150px;
  display: flex;
  max-width: calc(100% - 76px);
}
.ingredient_buttons_col {
  opacity: 0;
  min-height: 1px;
  transition: opacity 0.15s ease-in-out;
  text-align: center;
  flex: 0 0 34px;
  padding-right: 10px;
  position: relative;
}
.food_image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-size: auto 50px;
}
input.amount_input {
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  margin-left: -2px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 0.25rem;
}
.food_units_selector {
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
  flex: 0 1 auto;
  min-width: 60px;
  max-width: 160px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-image: none;
  background-clip: padding-box;
}
.food_units_selector:focus,
.amount_input:focus {
  background-color: #fff;
  border-color: #80bdff !important;
  outline: none;
}
.modal_recipe_servings .food_units_selector {
  appearance: menulist;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}
.food_units {
  display: flex;
}
.amount_input {
  flex: 0 0 5px;
}
.gram_printout {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #9c9c9c;
}
.favorite_icon.inactive,
.food_refresh_btn,
.food_delete_icon,
.recurring_icon_modal,
.control_button.copy_permalink,
.add_to_plan_icon {
  opacity: 0.5;
}
.favorite_icon.inactive:hover,
.food_refresh_btn:hover,
.food_delete_icon:hover,
.recurring_icon_modal:hover,
.control_button.copy_permalink:hover,
.add_to_plan_icon:hover {
  opacity: 0.8;
}
.diet_draggable {
  -webkit-touch-callout: none !important;
}
.diet_draggable:hover .ingredient_buttons_col {
  opacity: 1;
}
.food_name .print_name {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #2d303c;
  display: inline;
}
.food_name {
  line-height: 15px;
}
input.modal_amount_input.amount_input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-color: #999999;
}
.diet_draggable:hover .food_name .print_name {
  text-decoration: underline;
}
.food_image {
  transition: box-shadow ease-in-out 0.15s;
}
.diet_draggable:hover .food_image {
  box-shadow: 0 0 0 2px rgba(240, 117, 79, 0.3);
}
.diet_draggable:hover .food_image:hover {
  box-shadow: 0 0 0 3px rgba(240, 117, 79, 0.7);
}
.diet_draggable {
  background-color: #ffffff;
  transition: border 0.15s ease-in-out;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  border: solid 2px rgba(0, 0, 0, 0);
  border-radius: 5px;
}
.diet_draggable:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  border: solid 2px rgba(240, 117, 79, 0.2);
  position: relative;
}
.diet_draggable .food_image,
.food_name .print_name {
  cursor: pointer;
}
.diet_draggable .read-only-ingredient .food_image:hover,
.diet_draggable .read-only-ingredient .food_name .print_name:hover {
  cursor: auto;
}
.diet_draggable .read-only-ingredient .food_image,
.diet_draggable .read-only-ingredient .food_image:hover {
  box-shadow: none;
}
.diet_draggable:hover .read-only-ingredient .food_name .print_name {
  text-decoration: none;
}
.carbs-col {
  color: #fcb524;
}
.fats-col {
  color: #52c0bc;
}
.proteins-col {
  color: #976fe8;
}
.nutrition-header {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
}
.nutrient-row {
  font-weight: normal;
}
.nutrient-row .col-auto {
  padding-left: 0;
}
.nutrient-row .col-auto.mr-auto {
  padding-left: 15px;
  padding-right: 0;
}
#sidebar_nav {
  position: relative;
  z-index: 1035;
}
body {
  padding: 0;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-purple {
  background-color: #2d303c;
  border-color: #1b1b25;
}
.navbar-purple li a {
  color: #ff8456;
}
.sign-in-link {
  color: #ff8456;
  font-size: 0.8em;
}
.navbar-purple li a:hover,
.sign-in-link:hover {
  color: #f0754f;
  text-decoration: underline;
}
.navbar-purple .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-purple .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}
.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#top_nav {
  z-index: 1000;
}
#food_object_modal_body {
  height: 100%;
}
.ingredients_scale_options {
  vertical-align: middle;
}
.directions_list li {
  list-style: none;
}
.recipe_scale_selector {
  padding: 0 0.75rem;
}
.food_control_panel .etm-icon {
  max-width: 30px;
  max-height: 30px;
}
.ingredients_container {
  border-top: 1px solid #ddd;
}
.image_padding > img {
  max-width: 100%;
  max-height: 350px;
}
.cropped_image img {
  max-width: 100%;
}
.image_padding {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.recipe_serving_printout {
  font-size: 80%;
  color: #999;
}
.long_serving_description {
  padding-top: 5px;
}
.collection-list:focus {
  outline: none;
}
.nutrition_info {
  display: none;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 11px;
}
.nutrition_info .micro_details_header {
  font-size: 12px;
}
.recipe_info {
  padding-top: 0;
}
.ingredients_box {
  margin-bottom: 10px;
}
.recipe_info .diet_draggable {
  cursor: auto;
  border-radius: 10px;
}
.food_control_panel .col-auto {
  padding: 10px 0;
  padding-bottom: 15px;
}
#modal_cumulative_graph {
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  position: relative;
}
.food_control_panel {
  text-align: center;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .food_control_panel {
    margin-top: 40px;
  }
}
.food_control_panel .col-auto {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
#modal_day_stats .stats_output {
  font-weight: bold;
}
#modal_day_stats {
  font-size: 13px;
}
.modal_amount_input {
  padding: 6px 10px !important;
}
.ingredient_box .food_units {
  margin-top: -5px;
}
.content_container:after {
  clear: both;
  content: "";
  display: block;
}
.fresh-green-button,
span.fresh-green-button {
  background: -moz-linear-gradient(to bottom, #cada8a, #9c3);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #cada8a),
    color-stop(100%, #9c3)
  );
  background: -webkit-linear-gradient(top, #cada8a, #9c3);
  background: -o-linear-gradient(to bottom, #cada8a, #9c3);
  background: -ms-linear-gradient(to bottom, #cada8a, #9c3);
  background: linear-gradient(to bottom, #cada8a, #9c3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cada8a', endColorstr='#99cc33', GradientType=0);
  border-color: #690 #466900 #3d5c00;
}
.fresh-green-button,
span.fresh-green-button {
  background: -moz-linear-gradient(to bottom, #cada8a, #9c3);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #cada8a),
    color-stop(100%, #9c3)
  );
  background: -webkit-linear-gradient(top, #cada8a, #9c3);
  background: -o-linear-gradient(to bottom, #cada8a, #9c3);
  background: -ms-linear-gradient(to bottom, #cada8a, #9c3);
  background: linear-gradient(to bottom, #cada8a, #9c3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cada8a', endColorstr='#99cc33', GradientType=0);
  border-color: #690 #466900 #3d5c00;
}
.fresh-green-button .a-button-inner,
span.fresh-green-button .a-button-inner {
  background: -moz-linear-gradient(to bottom, #cada8a, #9c3);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #cada8a),
    color-stop(100%, #9c3)
  );
  background: -webkit-linear-gradient(top, #cada8a, #9c3);
  background: -o-linear-gradient(to bottom, #cada8a, #9c3);
  background: -ms-linear-gradient(to bottom, #cada8a, #9c3);
  background: linear-gradient(to bottom, #cada8a, #9c3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cada8a', endColorstr='#99cc33', GradientType=0);
  border-color: #690 #466900 #3d5c00;
  color: #0a0a0a;
}
.a-button {
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
}
.a-button-inner {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  border-radius: 2px;
  padding: 8px 15px;
}
.a-inner-xsmall {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
}
.fresh-green-button:active,
span.fresh-green-button:active {
  background: #8fbe30;
  border-color: #466900 #466900 #3d5c00;
  -webkit-box-shadow: 0 1px 3px rgba(102, 102, 102, 0.5) inset;
  -moz-box-shadow: 0 1px 3px rgba(102, 102, 102, 0.5) inset;
  box-shadow: 0 1px 3px rgba(102, 102, 102, 0.5) inset;
}
.a-button:active,
.a-button:active:hover {
  border-color: #adb1b8 #a2a6ac #a2a6ac;
}
.fresh-green-button:hover,
span.fresh-green-button:hover {
  border-color: #690 #466900 #3d5c00;
}
.fresh-green-button:hover .a-button-inner,
span.fresh-green-button:hover .a-button-inner {
  background: -moz-linear-gradient(to bottom, #bdcf76, #8fbe30);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #bdcf76),
    color-stop(100%, #8fbe30)
  );
  background: -webkit-linear-gradient(top, #bdcf76, #8fbe30);
  background: -o-linear-gradient(to bottom, #bdcf76, #8fbe30);
  background: -ms-linear-gradient(to bottom, #bdcf76, #8fbe30);
  background: linear-gradient(to bottom, #bdcf76, #8fbe30);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdcf76', endColorstr='#8fbe30', GradientType=0);
}
@media print {
  .body-container {
    display: none;
  }
  .print-body {
    display: block;
  }
  #sidebar_container {
    display: none;
  }
}
.s0 {
  fill: none;
  stroke: #000000;
}
.f0 {
  fill: #000000;
}
.etm-icon use {
  pointer-events: none;
}
.etm-icon:hover {
  cursor: pointer;
}
.etm-icon.no-pointer:hover {
  cursor: auto;
}
.thumb_icon {
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
}
.favorite_icon {
  cursor: pointer;
  opacity: 0.3;
  display: inline-block;
}
.thumb_icon_sm {
  width: 24px;
  height: 24px;
}
.thumb_icon .icon-active {
  opacity: 0;
}
.thumbs_down {
  vertical-align: -2px;
}
.thumb_icon.inactive:hover {
  opacity: 0.7;
}
.recipe-carousel {
  padding: 0 40px 5px 40px;
  height: 150px;
}
.carousel-thumbnail {
  height: 140px;
  text-align: center;
  padding-top: 15px;
}
.carousel-thumbnail:hover {
  border-color: #337ab7;
}
.recipe-carousel-item {
  padding-left: 30px;
  padding-right: 30px;
}
.recipe-carousel-control {
  left: -12px;
  height: 50px;
  width: 50px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #ffffff;
  border-radius: 25px;
  margin-top: 50px;
}
.recipe-carousel-control.right {
  right: -12px;
  left: auto;
}
/*! CSS Used fontfaces */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
